<section class="filter-box-section text-center container">
  <div class="filter-header">
    <h2>Filter By</h2><br>
  </div>
  <div class="row filter-row">
    <div class="col-md-2 col-sm-2 col-xs-4 filter-btns">
      <div>
        <button class='btn btn-link active' (click)="filterAllFunc()">All</button>
      </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4 filter-btns">
      <div>
        <button class='btn btn-link' (click)="filterOneFunc()">Citisen</button>
      </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4 filter-btns">
      <div>
        <button class='btn btn-link' (click)="filterTwoFunc()">W.R.Rayson</button>
      </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4 filter-btns">
      <div>
        <button class='btn btn-link' (click)="filterThreeFunc()">MedProtect</button>
      </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4 filter-btns">
      <div>
        <button class='btn btn-link' (click)="filterFourFunc()">Maquira</button>
      </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4 filter-btns">
      <div>
        <button class='btn btn-link' (click)="filterFiveFunc()">Larident</button>
      </div>
    </div>
  </div>
</section>
<section class="text-center container grid-section">
  <div class="row">
    <div *ngFor="let product of products | filterBy:filter" class="card-col col-md-3 col-sm-4 col-xs-6" >
      <a [routerLink]='["/Products/Disposables",product.company,product.name]'>
      <div class="card">
        <img class="card-img-top" src="../../../assets/imgs/{{product.image}}.jpg" alt="Card image cap">
        <div class="overlay">{{product.company}}</div>
        <div class="card-body">
          <h4 class="card-title">{{product.name}}</h4>
        </div>
      </div>
      </a>
    </div>
  </div>
</section>
