body{
    overflow-x: hidden;
}
a {
    color: #03d7bd;
    text-decoration: none;
}
.bg-section{
    margin-top: 3.3em;
    margin-bottom: 2em;
    background-image: url(../../assets/imgs/sky-blue-textured-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 323px;
}
.bg-section::before{
    content: '';
    width: 100%;
    height: 100.1%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color:black;
	opacity: .6; 
}
.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
/*................................*/
.sec-section{
    margin-bottom: 5em;
}
.formWrap{
    border: 0px solid #ddd;
    box-shadow: 0px 1px 1px 2px #ddd;
}
fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px solid #03d7bd;
     box-shadow: 0px 3px 7px 0px #03d7bd;
}
legend {
    display: block;
    width: 100%;
    padding: 0px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 0px;
}
.control{
    padding-left: 1em;
    padding-right: 1em;
}
.form-control:focus {
    border-color: #03d7bd;
    outline: 0;
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.sendBtn{
    padding: 1em 2em 1em 2em;
    border-radius: 14px;
    border: 1px solid #03d7bd;
    background-color: white;
    color: #03d7bd;
    font-size: 15px;
    font-weight: 600;
    transition: 0.2s;
}
.sendBtn:hover{
    padding: 1.1em 2.1em 1.1em 2.1em;
    background: linear-gradient(to right, #03d7bd 0%, #000000 100%);
    color:white;
    border: transparent
}
.icon{
    font-size: 37px;
    color: #03d7bd;
}
.icon-txt{
    font-size:16px;
    color: #03d7bd;
}
.contact-info{
    padding-top: 1.5em;
}
.hr-one{
    border: 0;
    height: 2px;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #03d7bd, rgba(0, 0, 0, 0));
}
.soc-col ul{
    display: block;
    text-align: center;
    padding-top: 31px;
    margin-left: 0em;
  }
  .soc-col ul li{
    display: inline-block;
    padding-right: 55px;
  }
  .soc-icon{
      font-size:23px;
      color: #202020;
  }
  agm-map {
    height: 340px;
  }
  /*...........map row...................*/
  .row.map-row {
  margin-top: 2em;
}
@media (max-width:767px){
    .bg-section{
        
        height: 187px;
    }
    .overlay{
       
        font-size: 12px;
       
    }
    h1{
        font-size: 20px;
    }
    agm-map {
        height: 238px;
    }
}