<section class="bg-section text-center">
  <div class="overlay">
    <h1>Contact Us</h1>
    <p>We look forward to hearing from you and having and opportunity to earn your business. For sales, service and support, please call, visit or email us at the information below.</p>
  </div>
</section>
<section class="container sec-section">
    <div class="row contact-row">
      <div class="col-md-6 col-sm-6">
        <form [formGroup]='send_form'> 
            <fieldset id="commentFS">
              <legend><h2 class="form-header">Send Message</h2></legend> 
              <div class="form-container">  
                <div class="row columns">  
                  <div class="control">
                    <input type="text" class="form-control" formControlName='firstName' placeholder="Your First name">  
                  </div>  
                  <div class="control">  
                    <br>  
                    <input type="text" class="form-control" formControlName='lastName' placeholder="Your Last name">  
                  </div>  
                  <br>  
                  <div class="control">
                    <input type="text" class="form-control" formControlName='email' placeholder="Your Email">
                  </div>  
                  <br>  
                  <div class="control">  
                    <textarea class="form-control" formControlName='message' placeholder="Your message"></textarea>
                  </div>  
                  <br>  
                </div>
              </div>
            
            <div class="text-center">  
              <input type="Submit" value="Send" class="btn btn-primary sendBtn">  
            </div> 
          </fieldset> 
          </form>
        </div>
        <div class="col-md-6 col-sm-6 text-center">
          <div class="row contact-info">
            <div class="col-md-4">
              <div>
                <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
              </div>
            </div>
            <div class="col-md-6">
              <span class="icon-txt">2049 Second district EL-Meerag City, behind  Carrefour El Maadi, Cairo ,Egypt</span>
            </div>
          </div>
          <div class="row contact-info">
              <div class="col-md-4">
                <div>
                    <span class="glyphicon glyphicon-earphone icon"></span>
                </div>
              </div>
              <div class="col-md-6">
                  <span class="icon-txt"><a href="tel:0224474867">0224474867</a></span>
              </div>
          </div>
          <div class="row contact-info">
            <div class="col-md-4">
                <i class="fab fa-facebook-square icon"></i>
            </div>
            <div class="col-md-6">
              <span class="icon-txt"><a href="https://www.facebook.com/Global-Trade-Dental-Supplies-183062789019527/ ">Global Trade Dental Supplies</a></span>
            </div>
          </div>
          <div class="row contact-info">
              <div class="col-md-4">
                <div>
                  <span class="icon"><i class="fas fa-envelope"></i></span>
                </div>
              </div>
              <div class="col-md-6">
                  <span class="icon-txt"><a href="mailto:Medical_mohamed@hotmail.com">Medical_mohamed@hotmail.com</a></span>
              </div>
          </div>
          <div class="row contact-info">
            <div class="col-md-4">
              <div>
                <span class="icon"><i class="fab fa-whatsapp"></i></span>
              </div>
            </div>
            <div class="col-md-6">
                <span class="icon-txt"><a href="https://wa.me/01119770255">01119770255</a> ,<a href="https://wa.me/01222157841">01222157841</a> </span>
            </div>
          </div>
        </div>
      </div>
  </section>
<section class="map-section container-fluid">
  <div class="row map-row">
    <a href="https://maps.google.com/?q=29.983919,31.314636">
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </a>
  </div>
</section>