<section class="container firstSection">
    <div class='panel panel-primary'>
        <div class='panel-heading'>
            {{productTitle}}
        </div>
        <div class='panel-body'>
            <div class='row'>
                <div class='col-md-5 col-sm-5 proImg'>
                    <img class='productImg img-responsive' src='../../../../assets/imgs/{{maquiraImg}}.jpg'>
                </div>
                <div class="col-md-7 col-sm-7">
                    <div>
                        <h3>Presentation :</h3>
                    </div>
                    <div>
                      <p *ngFor='let pre of maquiraPresentation'>{{pre.text}}</p>
                      <div *ngIf="isprePoint">
                        <ul>
                          <li *ngFor='let prePoint of maquiraPrePoint'>{{prePoint.point}}</li>
                        </ul>
                      </div>
                    </div>
                </div>
            </div>
            <hr *ngIf="isHr" class="hr">
        <!--..............Technical and benefits .............-->
            <div class="Autoclave">
              <div>
                  <div class="techData">
                    <h3>Advantages :</h3>
                    <div>
                      <ul>
                        <li *ngFor=" let adv of maquiraAdvantage">{{adv.point}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
        <!--....................................-->  
        </div>
            <div class='panel-footer'>
                <div class="btn">
                    <button class="btn btn-default backBtn" (click)="onBack()"><i class="fas fa-arrow-left"></i> Back</button>
                </div>
            </div>
        </div>
        
  </section>
  
