<nav class="navbar navbar-default navbar-fixed-top nav-color">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <a class="navbar-brand" href="#">
        <img class="logoImg" src="../assets/imgs/Untitled-1.png" alt="Global Trade">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive='active'><a routerLink='/HomePage'>Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >Products <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li routerLinkActive='active'><a routerLink='/Products/Equipments'>Equipments</a></li>
            <li routerLinkActive='active'><a routerLink='/Products/HandPieces and HandInstruments'>Hand pieces &amp; Hand instruments</a></li>
            <li routerLinkActive='active'><a routerLink='/Products/CrownAndBridges'>Restorative Materials</a></li>
            <li routerLinkActive='active'><a routerLink='/Products/Burs'> Burs &amp; Stones</a></li>
            <li routerLinkActive='active'><a routerLink='/Products/Disposables'>Disposables</a></li>
          </ul>
        </li>
        <li routerLinkActive='active' class="Contact"><a routerLink='/ContactUs'>Contact Us</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>
<router-outlet></router-outlet>
<footer class="footer container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
      <div class="logo-col">
      <img src="../assets/imgs/Untitled-1.png" class="logo-footer" >
    </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <h4>Products</h4>
      <ul class="footer-list">
        <li><a routerLink='/Products/Equipments'>Equipments</a></li>
        <li class="addSpace"><a routerLink='/Products/HandPieces and HandInstruments'>Hand Pieces &amp; Hand Instruments</a></li>
        <li><a routerLink='/Products/CrownAndBridges'>Restorative Materials</a></li>
        <li><a routerLink='/Products/Burs'>Burs &amp; Stones</a></li>
        <li><a routerLink='/Products/Disposables'>Disposables</a></li>
      </ul>
    </div>
  </div>
  
</footer>