body{
    overflow-x: hidden;
    background: linear-gradient(135deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 37%, rgba(209,209,209,0.99) 52%, rgba(254,254,254,0.99) 100%);
}
.navbar-default{
    background-color: #ffffff;
    border-color : #88ece0;
    height: 77px;
    box-shadow: 0px 0px 14px 0px #03d7bd;
}
.navbar-right{
    margin-top: 14px;
}
.logoImg {
    width: 213px;
    object-fit: contain;
    margin-top: -23px;
}
.navbar-default .navbar-nav>li>a {
    color: #03d7bd;
    font-size: 15px;
    font-weight: 600;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #9a9d9e ;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
   color: #ffffff;
    border-radius: 30px;
    background-color: #c2c8bb;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #ffffff;
    border-radius: 30px;
    background-color: #03d7bd;
}
.dropdown-menu{
    list-style: none;
    float: left;
    width: max-content;
    border-color: #03d7bd;
    top: 107%;
}
.dropdown-menu li{
    float: left;
}

.dropdown-menu li a{
    display: block;
    height: 3em;
    line-height: 3em;
    padding: 0 1em;
    text-decoration: none;
    color: #03d7bd;
}
.dropdown-menu>.active>a, .dropdown-menu>li>a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #03d7bd;
    border-radius: 25px;
}
/*............................*/
.footer {
    border-top: 3px solid #00e5e9;
    background: linear-gradient(to right, #03d7bd 0%, #000000 100%);
    color: white;
}
.logo-col{
    margin-left: 19%;
}
.logo-footer {
    width: 180px;
    margin-top: 16px;
    object-fit: contain;
    border-radius: 8px;
}
.footer-list{
    list-style: none;
    float: left;
    margin-left: -48px;
}
.footer-list li{
    float: left;
}
.footer-list li a{
    display: block;
    height: 2em;
    line-height: 1em;
    padding: 0 1em;
    text-decoration: none;
    color: #03d7bd;
}
a:hover {
    
    cursor: pointer;
}
/*....................*/
@media (min-width: 768px){

.navbar-right .dropdown-menu {
    right: -90px;
    left: auto;
}
}
@media(max-width:767px){
    .dropdown-menu{
       float: none;
        min-width: 140px !important;
       
    }
    .dropdown-menu li{
        float: none;
    }
    
    
    .navbar-default .navbar-nav{
        float: right;
        margin-top: -2em;
    }
    .navbar-default .navbar-nav>li {
     float: left;
    }
    .logo-footer {
        width: 160px;
        margin-top: 7%;
        
    }
    .navbar-nav .open .dropdown-menu {
        left: -82px;
        position: absolute;
        float: none;
        width: 231px;
        margin-top: 9px;
        background-color: white;
        border: 1px solid #03d7bd;
        box-shadow: 0px 0px 10px -2px #03d7bd;
    }
   
/*.navbar-nav .open .dropdown-menu {
    
    height: 59px;
    
}*/
}
@media(max-width:670px){
    .logo-footer {
        
        margin-top: 15%;
        
    }
    
}
@media(max-width:525px){
    .footer-list li a {
        
        padding: 0 .5em;
        
    }
    .navbar-default .navbar-nav > li > a {
        
        font-size: 12px;
        
    }
   
    .logo-footer {
        
        margin-top: 27%;
        
    }
    .nav>li>a {
        
        padding: 10px 6px;
    }
    .addSpace{
        margin-bottom: 14px;
    }
}
@media(max-width:435px){
    .logoImg{
        width: 165px;
        object-fit: contain;
        margin-top: -7px;
    }
    
}
@media(max-width:360px){
    
    .footer-list li a {
        
        padding: 0 4px;
        
    }
    .logo-footer {
        width: 107px;
        margin-top: 23%;
        
    }
   
}