.filter-box-section{
  margin-top: 4.5em;
  margin-bottom: 5em;
}
.filter-header{
  text-align: left;
}
h2{
  font-weight: 600;
  color: #03d7bd;
}
.filter-row{
  height: 80px;
  background-color: #222121;
    border-radius: 15px;
}
.filter-btns{
  line-height: 80px;
}
.btn-link{
  font-weight: 600;
  color: #ffffff;
  border-radius: 50px;
  font-size: 15px;
  padding: 21px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #03d7bd, rgba(0, 0, 0, 0));
}
 .btn-link:active, .btn-link:focus, .btn-link:hover {
  border-color: transparent;
  border-radius: 50px !important;
  background-image: linear-gradient(to right, #ececec, #03d7bd, #e8ecee);
  padding: 21px;
  outline: none;
  text-decoration: none;
}

.card-img-top{
  display: block;
  width: 100%;
  object-fit: contain;
  transition: .5s ease;
  border-radius: 15px;
  height: 123px;
}
button.btn.btn-link.active {
  padding-left: 40px;
  padding-right: 40px;
}
a {
  color: #03d7bd;
  text-decoration: none;
}
a:hover {
  color: #142a27;
  text-decoration: none;
}
.card{
  border: 1px solid #03d7bd;
    border-radius: 15px;
    margin-bottom: 1em;
    overflow-y: scroll;
    height: 195px;
}
.card:hover{
  box-shadow: 3px 3px 14px -3px #03d7bd;
}
.overlay {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 5px;
  right: 0px;
  padding: 2px 5px 2px 5px;
  background-color: black;
  color: white;
  transform: translate(-50%, -50%);
 text-align: center;
 border: 1px solid black;
    border-radius: 6px;
    box-shadow: 1px 1px 6px 1px black;
}
.card-text{
  padding: 15px;
}
.card-col{
  margin-bottom: 20px;
}
@media(max-width:767px){
  .filter-row{
    height: 161px;
    
  }
  .card{
    
    height: 180px;
}
.card-img-top{
  margin-top: 15px;
  height: 100px;
}
}
@media(max-width:429px){
  .overlay {
    font-size: 11px;
    right: 7px;
  }
  
}
