<section class="container firstSection">
    
    <div class='panel panel-primary'>
        <div class='panel-heading'>
            {{productTitle}}
        </div>
        <div class='panel-body'>
            <div class='row'>
                <div class='col-md-5 col-sm-5 proImg'>
                    <img class='productImg img-responsive' src='../../../assets/imgs/{{sunImg}}.jpg'>
                </div>
                <div class="col-md-7 col-sm-7">
                    <div>
                        <h3>Product Character :</h3>
                    </div>
                    <div>
                        <ul>
                            <li *ngFor='let proChar of sunProChara'>{{proChar.text}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="hr">
            <div class="proDetTable">
                <div> 
                    <h3>Product Details :</h3>
                </div>
                <table class="table table-striped table-bordered table-responsive">
                    <tr>
                        <th *ngFor="let header of proDetHeaders">{{header}}</th>
                    </tr>
                    <tr *ngFor="let detail of sunProductdet">
                        <td>{{detail.result1}}</td>
                        <td>{{detail.result2}}</td>
                        <td>{{detail.result3}}</td>
                        <td>{{detail.result4}}</td>
                        <td>{{detail.result5}}</td>
                        <td>{{detail.result6}}</td>
                        <td>{{detail.result7}}</td>
                        <td>{{detail.result8}}</td>
                        <td>{{detail.result9}}</td>
                    </tr>
                </table>
            </div>
        <!--..............for AutoClave Only.............-->
            <div *ngIf="isAuto" class="Autoclave">
                <div><h3>Technical Parameter :</h3></div>
                <div class="row tech-row" *ngFor=" let tech of sunTechPara">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        {{tech.variable}}
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        {{tech.value}}
                    </div>
                </div>
            </div>
        <!--....................................-->  
        </div>
            <div class='panel-footer'>
                <div class="btn">
                    <button class="btn btn-default backBtn" (click)="onBack()"><i class="fas fa-arrow-left"></i> Back</button>
                </div>
            </div>
        </div>
        
</section>