<section class="container firstSection">
  <div class='panel panel-primary'>
    <div class='panel-heading'>
        {{productTitle}} ( {{asideName}} )
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-5 col-sm-5 proImg'>
                <img class='productImg img-responsive' src='../../../assets/imgs/{{saeshinImg}}.jpg'>
            </div>
            <div class="col-md-7 col-sm-7">
              <div><h3>{{productTitle}} ( {{asideName}} )</h3></div>
                <div class="list">
                    <ul>
                        <li *ngFor='let saeDet of saeshinProDetails'>{{saeDet.text}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="hr">
        <div class="pro-feature">
          <h3>Product Feature :</h3>
          <div *ngFor="let feature of saeshinProFeature" class="text-center">
            <h4>{{feature.header}}</h4>
            <div>
              <p>{{feature.text}}</p>
            </div>
          </div>
        </div>
        <hr class="hr">
        <div class="row">
          <div class="col-md-6 col-sm-6" *ngIf="notCube">
            <div class="comp-hand">
              <h3>Compatible Handpiece :</h3>
              <div class="row tech-row" *ngFor=" let compHand of saeshinCompHand">
                  <div class="col-md-4 col-sm-4 col-xs-4">
                      {{compHand.variable}}
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8">
                      {{compHand.value}}
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="comp-hand">
              <h3>Controller :</h3>
              <div class="row tech-row" *ngFor=" let control of saeshinCotroller">
                  <div class="col-md-4 col-sm-4 col-xs-4">
                      {{control.variable}}
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8">
                      {{control.value}}
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class='panel-footer'>
        <div class="btn">
            <button class="btn btn-default backBtn" (click)="onBack()"><i class="fas fa-arrow-left"></i> Back</button>
        </div>
    </div>
  </div>
</section>