.firstSection{
    margin-top: 7em;
}
.btn{
    margin-bottom: 1em;
}
.backBtn {
    padding: 15px;
    background-image: linear-gradient(to left bottom, #00e5e9, #34aa9a, #35725a, #263e2a, #091100);
    border:0px solid transparent;
    color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 8px 2px #03d7bd8f;
    transition: 0.4s;
}
.backBtn:focus , .backBtn:hover {
   outline: none;
   background-image: linear-gradient(to right top, #00e5e9, #34aa9a, #35725a, #263e2a, #091100);
}
.panel-primary{
    border-color: #03d7bd;
    box-shadow: 0px 0px 8px 2px #03d7bd8f;
}
.panel-primary>.panel-heading {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    background-color: #03d7bd;
    border-color: #03d7bd;
}
.panel-footer {
    padding: 0px 15px;
    background-color: #f0f1f4;
    border-top: 1px solid #03d7bd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    height: 66px;
}
.list{
    
    font-size: 19px;
    line-height: 2;
    margin-top: 2em
}
.list ul{
    list-style-type: none;
}
hr {
    width: 80%;
    margin-top: 0%;
    margin-bottom: 19px;
    border: 0;
    height: 2px;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #03d7bd, rgba(0, 0, 0, 0));
}
h3 {
    font-size: 24px;
    padding: 15px;
    font-weight: 600;
}
h4 {
    font-size: 18px;
    padding: 15px;
    background-color: #03d7bd4f;
}
.tech-row:nth-child(even){
    background-color: #03d7bd59;
}
.tech-row{
    padding: 4px;
}
.comp-hand{
    padding: 23px;
}