<section class="slider-section text-center">
  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
</section>
<section class="aboutUs-section container text-center" id="aboutUs">
  <h1>About Us</h1>
  <hr class="hr-one">
  <div class="about-content">
    <p>{{about_para1}}</p><br>
    <p>{{about_para2}}</p><br>
    <p>{{about_para3}}</p><br>
    <p>{{about_para4}}</p><br>
    <p>{{about_para5}}</p><br>
    <p>{{about_para6}}</p>
  </div>
</section>

<section class="ourPartners-section container text-center">
  <div class="partners-header">
    <h1>Our Partners</h1>
    <hr class="hr-one">
  </div>
  <div class="row featured-row">
    <div class="col-xs-12">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators indic">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
      <div class="carousel-inner">
        <div class="item active">
          <div class="row">
              <div class="col-xs-3">
                  <img class="pro-img" src="../../assets/imgs/carlo-de-giorgi_bf6a7711a340cdc0eeb1daf7d2b3d907.jpg" alt="First slide">
              </div>
              <div class="col-xs-3">
                  <img class="pro-img" src="../../assets/imgs/131548423_s.jpg" alt="First slide">
              </div>
              <div class="col-xs-3">
                  <img class="pro-img" src="../../assets/imgs/download.png" alt="First slide">
              </div>
              <div class="col-xs-3">
                  <img class="pro-img" src="../../assets/imgs/images.jpg" alt="First slide">
              </div>
          </div>
        </div>
        <div class="item">
              <div class="row">
                
                  <div class="col-xs-3">
                      <img class="pro-img" src="../../assets/imgs/larident.jpg" alt="First slide">
                  </div>
                  <div class="col-xs-3">
                      <img class="pro-img" src="../../assets/imgs/logo.jpg" alt="First slide">
                  </div>
                  <div class="col-xs-3">
                      <img class="pro-img" src="../../assets/imgs/logo (1).jpg" alt="First slide">
                  </div>
                  <div class="col-xs-3">
                      <img class="pro-img" src="../../assets/imgs/logo3-edited.png" alt="First slide">
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="row">
                  <div class="col-xs-3">
                      <img class="pro-img" src="../../assets/imgs/soco.png" alt="First slide">
                  </div>
                  <div class="col-xs-3">
                      <img class="pro-img" src="../../assets/imgs/Untitled-1.jpg" alt="First slide">
                  </div>
                  <div class="col-xs-3">
                    <img class="pro-img" src="../../assets/imgs/20130701115614898977341.jpg" alt="First slide">
                </div>
                <div class="col-xs-3">
                    <img class="pro-img" src="../../assets/imgs/MEDPROTECT 1468546946.jpg" alt="First slide">
                </div>
              </div>
          </div>
          <div class="item">
            <div class="row">
                <div class="col-xs-3">
                    <img class="pro-img" src="../../assets/imgs/1432014144126_banner.jpg" alt="First slide">
                </div>
                <div class="col-xs-3">
                  <img class="pro-img" src="../../assets/imgs/photo.png" alt="First slide">
              </div>
              <div class="col-xs-3">
                <img class="pro-img" src="../../assets/imgs/WhatsApp Image 2018-07-18 at 6.01.44 PM.png" alt="First slide">
            </div>
            </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      </div>
    </div>
  </div>
</section>

<section class="contact-section container-fluid  text-center">
  <div class="row">
    <div class="col-md-6 col-sm-6">
       <div id="map">
         <a href="https://maps.google.com/?q=29.983919,31.314636">
            <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
          </a>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="contact-header">Contact Us</div>
      <hr class="hr-one">
      <div class="row soc-row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span><i class="fas fa-map-marker-alt icon"></i></span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span class="icon-txt">2049 Second district EL-Meerag City, behind  Carrefour El Maadi, Cairo ,Egypt</span>
        </div>
      </div>
      <div class="row soc-row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span class="glyphicon glyphicon-earphone icon"></span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span><a href="tel:0224474867">0224474867</a></span>
        </div>
      </div>
      <div class="row soc-row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <i class="fab fa-facebook-square icon"></i>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span class="icon-txt"><a href="https://www.facebook.com/Global-Trade-Dental-Supplies-183062789019527/ ">Global Trade Dental Supplies</a></span>
        </div>
      </div>
      <div class="row soc-row">
          <div class="col-md-6 col-sm-6 col-xs-6">
              <i class="fas fa-envelope icon"></i>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <span class="icon-txt"><a href="mailto:Medical_mohamed@hotmail.com">Medical_mohamed@hotmail.com</a></span>
            </div>
        </div>
        <div class="row soc-row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <i class="fab fa-whatsapp icon"></i>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <a href="https://wa.me/01119770255">01119770255</a> ,<a href="https://wa.me/01222157841">01222157841</a> 
            </div>
        </div>
        
    </div>
  </div>
</section>