
body{
    overflow-x: hidden;
}.slider-section{
    margin-top: 3.5em;
    margin-bottom: 2em;
}
ngx-gallery /deep/ .ngx-gallery-arrow {
    color: #03d7bd;
}
a {
    word-wrap: break-word;
    color: #03d7bd;
    text-decoration: none;
}
/*.....................................................................*/
.aboutUs-section{
    margin-bottom: 4em;
}
.btn-row {
    float: left;
    width: 100%;
    border: 1px solid white;
}
.about-btn{
    text-decoration: none;
    width: 31%;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
    color: #000;
}
.about-content{
    padding: 100px 20px;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #03d7bd, rgba(0, 0, 0, 0));
}
.about-content p {
    font-size: 17px;
    color: #1e1e1e;
    margin: 0 0 -2px;
}
.active-btn{
    background: linear-gradient(to right, #03d7bd 0%, #000000 100%);
    color: #fff;
    border-radius: 90px;
    box-shadow: 1px 1px 1px 1px #aef6f8;
}
.btn-link:focus, .btn-link:hover {
    
  background-color: transparent;
    outline: none !important;
}
/*.......................................................................*/
.hr-one{
    border: 0;
    height: 2px;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #03d7bd, rgba(0, 0, 0, 0));
}
.featured-row{
    margin-top: 3em;
    margin-bottom: 5em;
}
.pro-img{
    width: 100%;
    height: auto;
    
    border-radius: 20%;
    border: 1px solid transparent;
   transition: 0.2s;
}
 .pro-img:hover{
    border-radius: 50%;
    border: 2px solid #03d7bd;
    transition: 0.2s;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #03d7bd;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000;
    background-color: rgba(0,0,0,0);
    border: 1px solid #03d7bd;
    border-radius: 10px;
}
.indic{
    top:13em;
}
/*..........................................................*/
.ourCustomers-section{
    background: url('../../assets/imgs/sky-blue-textured-background.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    margin-top: 5em;
    position: relative;
}

.ourCustomers-section::before{
    content: '';
    width: 100%;
    height: 100.1%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color:black;
	opacity: .6; 
}
.customer-header{
    position: absolute;
    top: 22%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.customer-imgs{
    position: absolute;
    top: 62%;
    left: 50%;
    width: 92%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.cust-img{
    width: 155px;
    object-fit: cover;
    -webkit-box-shadow: 0px 1px 1px 1px;
    box-shadow: 2px 1px 17px 0px;
    border-radius: 15px;
}
.customer-imgs .row .col-md-3 div{
    padding: 15px;
}
.icon-txt{
    font-size:16px;
    color: #03d7bd;
}
#map{
    margin-top: 5em;
}
agm-map {
    height: 280px;
  }
  .contact-header {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 25px;
    font-weight: 600;
}
.icon{
    font-size: 37px;
    color: #03d7bd;
}
.soc-row{
    margin-bottom: 15px;
}
@media (max-width:1200px){
    .slider-section{
        margin-top: 3.5em;
        
    }
}
/*...........................*/
@media (max-width:767px){
    
    .ourCustomers-section{
        
        height: 710px;
        
    }
    .customer-header{
       
        top: 12%;
        
    }
    .customer-imgs{
       
        top: 58%;
        
    }
    .indic{
        top:9em;
    }
    h1 {
        font-size: 23px;
    }
    .icon{
        font-size: 29px;
        
    }
}
@media(max-width:559px){
    .slider-section{
        margin-top: 0em;
        margin-bottom: 0em;
    }
}
@media(max-width:520px){
    .slider-section{
        margin-top: -0.5em;
        margin-bottom: 0em;
    }
    .indic{
        top:5em;
    }
    
    .icon{
        font-size: 19px;
       
    }
}