<section class="container firstSection">
  <div class='panel panel-primary'>
      <div class='panel-heading'>
          {{productTitle}}
      </div>
      <div class='panel-body'>
          <div class='row'>
              <div class='col-md-5 col-sm-5 proImg'>
                  <img class='productImg img-responsive' src='../../../../assets/imgs/{{productImg}}.jpg'>
              </div>
              <div class="col-md-7 col-sm-7">
                  <div>
                      <h3>Product Description :</h3>
                  </div>
                  <div>
                    <p *ngFor='let proDesc of productDesc'>{{proDesc.text}}</p>
                  </div>
              </div>
          </div>
          <hr *ngIf="isHr" class="hr">
          <div class="proDetTable" *ngIf="isTable">
              <div> 
                  <h3>Product Details :</h3>
              </div>
              <table class="table table-striped table-bordered table-responsive">
                  <tr>
                      <th *ngFor="let header of tableHeader">{{header}}</th>
                  </tr>
                  <tr *ngFor="let detail of risteaInfo">
                      <td>{{detail.res1}}</td>
                      <td>{{detail.res2}}</td>
                      <td>{{detail.res3}}</td>
                  </tr>
              </table>
          </div>
      <!--..............Technical and benefits .............-->
          <div class="Autoclave">
            <div class="row">
              <div *ngIf="isBenefit" class="col-md-6 col-sm-6">
                <div class="techData">
                  <h3>Benefits &amp; Features :</h3>
                  <div class="row" *ngIf="isTechText"><p>{{techDataText.text}}</p></div>
                  <div>
                    <ul>
                      <li *ngFor=" let ben of benefitAndFeature">{{ben.point}}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div *ngIf="isTech" class="col-md-6 col-sm-6">
                <div class="techData">
                  <h3>Technical Data :</h3>
                  <div class="row tech-row" *ngFor=" let tech of techData">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      {{tech.variable}}
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      {{tech.value}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <!--....................................-->  
      </div>
          <div class='panel-footer'>
              <div class="btn">
                  <button class="btn btn-default backBtn" (click)="onBack()"><i class="fas fa-arrow-left"></i> Back</button>
              </div>
          </div>
      </div>
      
</section>
