<section class="container firstSection">
  <div class='panel panel-primary'>
      <div class='panel-heading'>
          {{productTitle}}
      </div>
      <div class='panel-body'>
          <div class='row'>
              <div class='col-md-5 col-sm-5 proImg'>
                  <img class='productImg img-responsive' src='../../../../assets/imgs/{{MedProtectImg}}.jpg'>
              </div>
              <div class="col-md-7 col-sm-7">
                
              </div>
          </div>
         </div>
      <!--....................................-->  
      
          <div class='panel-footer'>
              <div class="btn">
                  <button class="btn btn-default backBtn" (click)="onBack()"><i class="fas fa-arrow-left"></i> Back</button>
              </div>
          </div>
      </div>
      
</section>
