<section class="container firstSection">
    <div class='panel panel-primary'>
      <div class='panel-heading'>
          {{productTitle}}
      </div>
      <div class='panel-body'>
          <div class='row'>
              <div class='col-md-5 col-sm-5 proImg'>
                  <img class='productImg img-responsive' src='../../../assets/imgs/{{socoImg}}.jpg'>
              </div>
              <div class="col-md-7 col-sm-7">
                <div><h3>Description :</h3></div>
                  <div class="list">
                      <p>{{socoDesc.text}}</p>
                  </div>
              </div>
          </div>
          <hr class="hr">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="comp-hand">
                <h3>Technical Data :</h3>
                <div class="row tech-row" *ngFor="let tech of socoTech">
                    <div class="col-md-6 col-sm-4 col-xs-6">
                      <span>{{tech.variable}}</span> 
                    </div>
                    <div class="col-md-6 col-sm-8 col-xs-6">
                      <span style="
                      word-wrap:  break-word;
                  ">{{tech.value}}</span>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="comp-hand">
                <h3>Features :</h3>
                <div class="point">
                    <ul class="point-list" *ngFor="let feat of socoFeature">
                      <li>{{feat.point}}</li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class='panel-footer'>
          <div class="btn">
              <button class="btn btn-default backBtn" (click)="onBack()"><i class="fas fa-arrow-left"></i> Back</button>
          </div>
      </div>
    </div>
  </section>
