/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(137, 137, 8, 0.34);
    background-color:transparent;
    border-radius: 17px;
}

::-webkit-scrollbar-thumb {
    background-color: #292929;
    height: 50px;
    border-radius: 17px;
}
body{
    overflow-x: hidden;
    }